<%- extend('layouts/app') %>

<main class="main-content">
    <div class="app-loader"><i class="icofont-spinner-alt-4 rotate"></i></div>
    <div class="main-content-wrap">
        <div class="page-content">
            <div class="row">
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-01s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5"><div class="icon p-0 fs-48 text-primary opacity-50 icofont-first-aid-alt"></div></div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Appointments</h6>
                                    <div class="count text-primary fs-20">213</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-02s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5"><div class="icon p-0 fs-48 text-primary opacity-50 icofont-wheelchair"></div></div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">New patients</h6>
                                    <div class="count text-primary fs-20">104</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-03s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5"><div class="icon p-0 fs-48 text-primary opacity-50 icofont-blood"></div></div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1">Operations</h6>
                                    <div class="count text-primary fs-20">24</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-xl-3">
                    <div class="card animated fadeInUp delay-04s bg-light">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col col-5"><div class="icon p-0 fs-48 text-primary opacity-50 icofont-dollar-true"></div></div>
                                <div class="col col-7">
                                    <h6 class="mt-0 mb-1 text-nowrap">Hospital Earning</h6>
                                    <div class="count text-primary fs-20">$5238</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Hospital survey</div>
                <div class="card-body">
                    <div id="surveyEcharts" class="chat-container container-h-300" _echarts_instance_="ec_1591110170017" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                        <div style="position: relative; overflow: hidden; width: 1084px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                            <canvas
                                data-zr-dom-id="zr_0"
                                width="1084"
                                height="400"
                                style="position: absolute; left: 0px; top: 0px; width: 1084px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"
                            ></canvas>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>