<%- extend('layouts/auth') %>
 
 <!-- .main-loader -->
 <div class="page-box">
    <div class="app-container page-sign-in" style="    background: url(http://medic-app-html.type-code.pro/assets/content/register-page.jpg);background-size: contain;">
        <div class="content-box">
            <div class="content-header">
                <div class="app-logo">
                    <div class="logo-wrap"><img src="images/logo.svg" alt="" width="147" height="33" class="logo-img" /></div>
                </div>
            </div>
            <div class="content-body">
                <div class="w-100">
                    <h2 class="h4 mt-0 mb-1">Sign in</h2>
                    <p class="text-muted">Sign in to access your Account</p>
                    <form action="/api/auth/login", method="GET">
                        <div class="form-group"><input class="form-control" type="text" placeholder="Login" name="name" value="ALLPARTICIPANTS_ADMIN" /></div>
                        <div class="form-group"><input class="form-control" type="password" placeholder="Password" name="password" value="adminpw" /></div>
                        <div class="form-group custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="remember-me" checked="checked" /> <label class="custom-control-label" for="remember-me">Remember me</label>
                        </div>
                        <div class="actions justify-content-between">
                            <button class="btn btn-primary"><span class="btn-icon icofont-login mr-2"></span>Sign in</button>
                        </div>
                    </form>
                    <p class="mt-5 mb-1"><a href="#">Forgot password?</a></p>
                    <!-- <p>Don't have an account? <a href="<%= baseURL %>/auth/create-account">Sign up!</a></p> -->
                </div>
            </div>
        </div>
    </div>
</div>