<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MedicApp - Medical & Hospital HTML5/Bootstrap admin template</title>
        <meta name="keywords" content="MedicApp" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="http://medic-app-html.type-code.pro/assets/img/favicon.ico" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/icofont.min.css" />
        <link rel="stylesheet" href="css/simple-line-icons.css" />
        <link rel="stylesheet" href="css/jquery.typeahead.css" />
        <link rel="stylesheet" href="css/datatables.min.css" />
        <link rel="stylesheet" href="css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="css/Chart.min.css" />
        <link rel="stylesheet" href="css/morris.css" />
        <link rel="stylesheet" href="css/leaflet.css" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body class="public-layout">
        <div class="app-loader main-loader">
            <div class="loader-box">
                <div class="bounceball"></div>
                <div class="text">Medic<span>app</span></div>
            </div>
        </div>
        <!-- .main-loader -->
        <div class="page-box">
           <div class="app-container page-sign-up" style="background: url(http://medic-app-html.type-code.pro/assets/content/register-page.jpg);background-size: contain;">
                <div class="content-box">
                    <div class="content-header">
                        <div class="app-logo">
                            <div class="logo-wrap"><img src="images/logo.svg" alt="" width="147" height="33" class="logo-img" /></div>
                        </div>
                    </div>
                    <div class="content-body">
                        <div class="w-100">
                            <h2 class="h4 mt-0 mb-1">Sign up</h2>
                            <p class="text-muted">Create your Account</p>
                            <form>
                                <div class="form-group"><input class="form-control" type="text" placeholder="Name" /></div>
                                <div class="form-group"><input class="form-control" type="email" placeholder="Email address" /></div>
                                <div class="form-group"><input class="form-control" type="password" placeholder="Password" /></div>
                                <div class="form-group custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="remember-me" checked="checked" /> <label class="custom-control-label" for="remember-me">I agree to the Terms and Privacy</label>
                                </div>
                                <div class="actions justify-content-between">
                                    <button class="btn btn-primary"><span class="btn-icon icofont-plus mr-2"></span>Sign up</button>
                                </div>
                            </form>
                            <p class="mt-5">Have an account? <a href="./sign-in.html">Sign in!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery-migrate-1.4.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.typeahead.min.js"></script>
        <script src="js/datatables.min.js"></script>
        <script src="js/bootstrap-select.min.js"></script>
        <script src="js/jquery.barrating.min.js"></script>
        <script src="js/Chart.min.js"></script>
        <script src="js/raphael-min.js"></script>
        <script src="js/morris.min.js"></script>
        <script src="js/echarts.min.js"></script>
        <script src="js/echarts-gl.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
