
<%- extend('layouts/app') %>

<main class="main-content">
    <div class="app-loader"><i class="icofont-spinner-alt-4 rotate"></i></div>
    <div class="main-content-wrap">
        <header class="page-header"><h1 class="page-title">User profile</h1></header>
        <div class="page-content">
            <div class="row">
                <div class="col col-6 col-md-6 mb-md-0">
                    <div class="card bg-light personal-info-card">
                        <img src="http://medic-app-html.type-code.pro/assets/content/user-profile.jpg" class="card-img-top" alt="" />
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3 user-actions">
                                <img src="http://medic-app-html.type-code.pro/assets/content/user-400-1.jpg" width="100" height="100" alt="" class="rounded-500 mr-4" /> <button type="button" class="btn btn-danger rounded-500">Subscribe</button>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <h5 class="mb-0 mt-0 mr-1">Liam Jouns</h5>
                                <select class="rating" data-readonly="true">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4" selected="selected">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <p class="text-muted">UI/UX Designer</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa labore velit.Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Dicta, provident?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-6 col-md-6 mb-md-0">
                    <div class="card mb-md-0">
                        <div class="card-header">Contact information</div>
                        <div class="card-body">
                            <div class="row align-items-center mb-3">
                                <div class="col col-auto"><div class="icon icofont-ui-touch-phone fs-30 text-muted"></div></div>
                                <div class="col">
                                    <div>Mobile</div>
                                    0126596578
                                </div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col col-auto"><div class="icon icofont-slack fs-30 text-muted"></div></div>
                                <div class="col">
                                    <div>Slack</div>
                                    @liam.jouns
                                </div>
                            </div>
                            <div class="row align-items-center mb-3">
                                <div class="col col-auto"><div class="icon icofont-skype fs-30 text-muted"></div></div>
                                <div class="col">
                                    <div>Skype</div>
                                    liam0jouns
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col col-auto"><div class="icon icofont-location-pin fs-30 text-muted"></div></div>
                                <div class="col">
                                    <div>Current Address</div>
                                    71 Pilgrim Avenue Chevy Chase, MD 20815
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</main>