<div class="app-footer">
    <div class="footer-wrap">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6 d-none d-md-block">
                <ul class="page-breadcrumbs">
                    <li class="item"><a href="http://medic-app-html.type-code.pro/dist/index.html#" class="link">Dashboards</a> <i class="separator icofont-thin-right"></i></li>
                    <li class="item"><a href="http://medic-app-html.type-code.pro/dist/index.html#" class="link">Default</a> <i class="separator icofont-thin-right"></i></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 text-right">
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                    <span>Version 1.0.0</span> <button class="no-style ml-2 settings-btn" data-toggle="modal" data-target="#settings"><span class="icon icofont-ui-settings text-primary"></span></button>
                </div>
            </div>
        </div>
        <div class="footer-skeleton">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 d-none d-md-block">
                    <ul class="page-breadcrumbs">
                        <li class="item bg-1 animated-bg"></li>
                        <li class="item bg animated-bg"></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <div class="info justify-content-center justify-content-md-end">
                        <div class="version bg animated-bg"></div>
                        <div class="settings animated-bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>