<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MedicApp - Medical &amp; Hospital Managment System</title>
    <meta name="keywords" content="MedicApp" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/icofont.min.css" />
    <link rel="stylesheet" href="css/simple-line-icons.css" />
    <link rel="stylesheet" href="css/jquery.typeahead.css" />
    <link rel="stylesheet" href="css/datatables.min.css" />
    <link rel="stylesheet" href="css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="css/Chart.min.css" />
    <link rel="stylesheet" href="css/morris.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/style.css" />
</head>